<a href="https://colab.research.google.com/github/taiwomaroof03/python-class/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
for i in range(2,102,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
for i in range(5,21,5):
  print(i)

5
10
15
20

#ITERATION

In [30]:
y=1
for x in range(20,40):
  print(f"the value of x at iteration {y} is {x}")
  y=y+1

else:
  print("finished")
print(f'our total iteration is {y-1}')

the value of x at iteration 1 is 20
the value of x at iteration 2 is 21
the value of x at iteration 3 is 22
the value of x at iteration 4 is 23
the value of x at iteration 5 is 24
the value of x at iteration 6 is 25
the value of x at iteration 7 is 26
the value of x at iteration 8 is 27
the value of x at iteration 9 is 28
the value of x at iteration 10 is 29
the value of x at iteration 11 is 30
the value of x at iteration 12 is 31
the value of x at iteration 13 is 32
the value of x at iteration 14 is 33
the value of x at iteration 15 is 34
the value of x at iteration 16 is 35
the value of x at iteration 17 is 36
the value of x at iteration 18 is 37
the value of x at iteration 19 is 38
the value of x at iteration 20 is 39
finished
our total iteration is 20